@import
	url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap')
	;

.sticky-footer i {
	color: #ec5e69;
}

.sticky-footer span {
	font-size: 14px;
}

.card .nav-item {
	padding: 10px;
	border: 1px solid transparent;
	border-top-left-radius: .35rem;
	border-top-right-radius: .35rem;
	transition: 0.3s;
	cursor: pointer;
}

.card .nav-item:hover {
	border-color: #2e3f5b;
	border-bottom: #2ec5d3;
}

.card .nav-item.active {
	color: rgba(225, 235, 245, .9);
	background-color: #2ec5d3;
	border-color: #2ec5d3;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.sidebar-dark .nav-item .nav-link {
	color: rgba(225, 235, 245, .7);
}

.sidebar-dark .nav-item.active .nav-link {
	color: rgba(225, 235, 245, .95);
}

.sidebar-dark .nav-item.active .nav-link i {
	color: #ec5e69;
}

.sidebar-dark .sidebar-brand {
	color: rgba(225, 235, 245, .85);
}

.text-gray-800 {
	color: rgba(225, 235, 245, .8) !important;
}

body {
	color: rgba(225, 235, 245, .9);
	font-family: 'Gudea', sans-serif;
	font-size: 14px;
}

html, body {
	width: 100%;
	height: 100%;
}

.bg-white {
	background-color: #192231 !important;
}

.card-body {
	background-color: #24344d;
}

.card-header {
	border-bottom: none;
}

.card {
	background-color: transparent;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgb(0 0 0/ 15%), 0 -1px 0 rgb(0 0 0/ 2%);
}

.card-header {
	background-color: #24344d;
}

.table {
	color: rgba(225, 235, 245, .9);
	font-family: 'Gudea', sans-serif;
	font-size: 14px;
}

.table#tabluot, .table#tabluot th, .table#tabluot td, .table#tabthang,
	.table#tabthang th, .table#tabthang td {
	border: 1px solid #29b3c0;
}

.table.disable {
	display: none;;
	visibility: hidden;
}

.table-bordered td, .table-bordered th {
	border: none;
}

.table-bordered {
	border: none;
}

.table thead th {
	border-bottom: none;
}

.table tbody tr:nth-child(odd) {
	background-color: #293851;
}

.sidebar-dark .nav-item .nav-link i {
	color: rgba(225, 235, 245, .7);
}

.navbar-expand {
	border-bottom: 1px solid #27303e;
}

div.dataTables_wrapper div.dataTables_filter input {
	background-color: #24344d;
	box-shadow: none;
	border: 1px solid #324462;
}

.topbar .navbar-search input {
	box-shadow: none;
}

.input-group-append .btn:focus {
	background-color: transparent !important;
}

.btn-primary {
	background-color: transparent;
	border: none;
}

.btn-primary:hover {
	background-color: transparent;
	border: none;
}

.btn.btn-violet {
	background-color: #9f7ce1 !important;
	color: #fff;
	border: none;
	border-radius: 2px !important;
}

.btn.btn-violet:hover {
	background-color: #8869c2 !important;
}

.page-item.disabled .page-link {
	background-color: transparent;
}

.page-link {
	background-color: transparent;
	border: 1px solid #2f4060;
	border-radius: 2px;
}

.page-link:focus {
	box-shadow: none;
}

.page-link:hover {
	background-color: #2b3854;
	color: #fff;
	border: 1px solid #2f4060;
}

.page-item.disabled .page-link {
	border: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #f3f3f3;
	color: #262626 !important;
}

.page-item.active .page-link {
	background-color: #5893df;
	border-color: #5893df;
	background: linear-gradient(to bottom, #5893df 0, #5893df 100%);
	color: #fff;
}

.table tbody tr:nth-child(even):hover {
	background-color: #293851;
}

.table tbody tr {
	position: relative;
}

.table__action {
	max-width: 200px !important;
	width: 200px;
}

.table tbody tr .table__action .btn--box {
	display: inline;
	opacity: 0;
	transition: 0.4s;
	visibility: hidden;
}

.table tbody tr:hover .table__action .btn--box {
	display: inline;
	opacity: 1;
	visibility: visible;
}

.btn {
	min-width: 35px;
}

.btn:focus {
	outline: none !important;
	box-shadow: none !important;
}

.btn i {
	margin-right: 4px;
}

.btn.btn-addon {
	border-radius: 2px;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item
	{
	color: rgba(225, 235, 245, .7);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
	.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
	color: rgba(225, 235, 245, .95);
	background-color: transparent;
}

.form-input:focus {
	box-shadow: none;
	border: 1px solid gray;
}

.form-title {
	font-size: 18px;
	font-weight: 500;
	color: #2b2b2b;
}

button:focus {
	outline: none !important;
	box-shadow: none !important;
}

button+button {
	margin-left: 20px;
}

button {
	border-radius: 3px !important;
}

.fa-sping {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
	from {transform: rotate(0deg);
}

to {
	transform: rotate(360deg);
}

}
.btn-rounded {
	min-width: 52px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px !important;
}

.btn-danger {
	border-color: #ec5e69 !important;
	background-color: #ec5e69 !important;
}

.btn-danger:hover {
	background-color: #cf525c !important;
	border-color: #cf525c !important;
	color: #fff;
}

.btn.btn-default {
	background-color: #23324e !important;
	border-color: #2f4060 !important;
	color: rgba(225, 235, 245, .9);
}

.btn.btn-default:hover {
	border-color: #2f4060 !important;
	background-color: #2b3854 !important;
	color: rgba(225, 235, 245, .9);
}

.btn.btn-success {
	background-color: #2ec5d3 !important;
	border-color: #2ec5d3 !important;
}

.btn.btn-success:hover {
	border-color: #29b3c0 !important;
	background-color: #29b3c0 !important;
}

.btn-info {
	border-color: #5893df !important;
	background-color: #5893df !important;
	border-radius: 2px;
}

.btn-warning {
	border-color: #f1c205 !important;
	background-color: #f1c205 !important;
	border-radius: 2px;
}

.btn-info:hover {
	background-color: #4d80c2 !important;
	border-color: #4d80c2 !important;
	color: #fff;
}

i {
	margin-right: 0 !important;
}

.modal input {
	color: #2b2b2b !important;
}

.success-message {
	color: #28bccb !important;
}

.error-message {
	color: #d55966 !important;
}

.modal[id*="delete"] .modal-content {
	background-color: transparent;
	border: none;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
	table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child
	{
	display: flex;
}

/* login */
.bg-login-image {
	background-image: none !important;
}

body.bg-gradient-primary {
	overflow-x: hidden !important;
	height: 100vh;
}

body>.row {
	height: 100vh;
}

.login-form {
	background-color: #24344d;
	height: 100vh;
	max-width: 400px;
	width: 350px;
	padding-top: 15% !important;
}

form .form-input {
	background-color: transparent;
	border: 1px solid #324462;
	border-radius: 4px;
	color: #d6d6d6;
}

form .form-input:focus {
	background-color: transparent;
	color: #d6d6d6;
	border-color: #384c6d;
}

.panel {
	background-color: #24344d;
	padding: 25px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgb(0 0 0/ 15%), 0 -1px 0 rgb(0 0 0/ 2%);
}

.form.form--profile .form-heading {
	font-size: 16px;
	padding-bottom: 10px;
	color: rgb(255, 255, 255, .9);
}

.form.form--profile .custom-control-input:checked+label {
	color: #2ec5d3 !important;
}

.form.form--profile .form-control {
	border-radius: 4px;
	box-shadow: none !important;
	border: 1px solid #324462;
	color: #d6d6d6;
	background-color: #24344d;
	padding: 17px 12px;
	font-size: 16px;
}

.form.form--profile .form-control:focus {
	border-color: #384c6d;
}

.forgot-password a {
	color: rgba(225, 235, 245, .6);
	font-size: 14px;
}

a:hover {
	outline: none;
	text-decoration: none;
	color: rgba(225, 235, 245, .9) !important;
}

.login-footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5%;
}

.i-dashboard {
	color: #9f7ce1 !important;
}

.i-components{
	color: #2ec5d3!important;
}

.modal-body {
	color: #23324e;
	font-size: 16px;
}

.profile .profile__img-box{
	position: relative;
	border-radius: 50%;
	width: 100px;
	margin: auto;
}

.profile .profile__img-box span{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #3a3b3c;
	border-radius: 50%;
	color: #e4e6ea;
	padding: 4px 8px;
	cursor: pointer;
	transition: 0.1s;
}

.profile .profile__img-box span:hover{
	opacity: 0.8;
}

.profile__body {
	padding: 16px 0;
	border-top: 1px solid #324462;
	border-bottom: 1px solid #324462;
}

.toast--success {
	background-color: #2ec5d3 !important;
	color: #fff;
}

.toast--error {
	background-color: #ec5e69 !important;
	color: #fff;
}

.toast .toast__icon {
	font-size: 26px;
	margin: 0 14px;
}

.toast .toast__content {
	font-size: 18px;
	text-transform: capitalize;
}

.previous {
	padding: 5px 20px 5px 0px;
	color: #ec5e69 !important;
}

.form-group.invalid input.form-control {
	border: 1px solid #ec5e69 !important;
}

.form-group.invalid span.error-message {
	color: #ec5e69 !important;
}

.form-search .form-group {
	display: flex;
}

.form-search input.form-input {
	background-color: transparent;
	border: none;
	color: #29b3c0;
}

.form-search__input::-webkit-calendar-picker-indicator,
	.form-search__input--datatable::-webkit-calendar-picker-indicator {
	filter: invert(0.8);
}

.nav--tab {
	background-color: #24344d;
	border-bottom: 1px solid #2ec5d3;
}

.nav-tabs.nav--tab .nav-item.show .nav-link, .nav-tabs.nav--tab .nav-link.active
	{
	color: rgba(225, 235, 245, .9);
	background-color: #2ec5d3;
	border-color: #2ec5d3;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.nav-tabs.nav--tab .nav-link:focus, .nav-tabs.nav--tab .nav-link:hover {
	border-color: #2e3f5b;
	border-bottom: transparent;
}

.box {
	display: inline-flex;
	background-color: #5893df;
	padding: 10px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	min-width: 100%;
	transition: 0.3s;
}

.box:hover {
	background-color: #4d80c2;
}

.box__header {
	height: 44px;
	flex: 0 0 44px;
	line-height: 44px;
	background-color: #ec5e69;
	color: rgba(225, 235, 245, .95);
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
}

.box__content {
	font-family: 'Baloo Tammudu 2', cursive;
	margin: 0 0 0 14px;
	font-size: 18px;
	font-weight: 500;
	color: rgba(225, 235, 245, .95);
	display: flex;
	align-items: center;
}

.card-info {
	
}

.card-info__left {
	
}

.card-info__left table {
	width: 100%;
}

.card-info__left table tr th {
	font-weight: 500;
}

.card-info__left table tr:nth-child(even) {
	background-color: #293851;
}

.card-info__left table, .card-info__left th, .card-info__left td {
	border-collapse: collapse;
	border: 1px solid #4d80c2;
}

.card-info__left th, .card-info__left td {
	padding: 12px 8px;
}

.card-info__left table caption {
	caption-side: top;
	color: #5893df;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}

.card-info__text {
	
}

.card-info__text span {
	min-width: 200px;
	display: inline-block;
	color: #29b3c0;
}

.card-info__right {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	border: 1px solid #E6E9EC;
	border-radius: 4px;
}

.card-info__right ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	max-height: 300px;
	overflow-y: scroll;
}

.card-info__right ul li {
	padding-left: 14px;
	transition: 0.3s;
}

.card-info__right ul li:hover {
	background-color: #5893df;
}

.card-info__right ul li:hover span {
	background-color: #fff;
	color: #5893df;
}

.card-info__right ul li span {
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 50%;
	line-height: 32px;
	text-align: center;
	background-color: #5893df;
	color: #fff;
	margin-right: 8px;
	transition: 0.3s;
}

.card-info__header {
	padding: 8px 12px;
}

.card-info__header:nth-child(odd) {
	border-bottom: 1px solid #E6E9EC;
}

.card-info__header:nth-child(even) {
	border-top: 1px solid #E6E9EC;
}

.card-info__header p {
	margin: 0;
}

.data-table {
	
}

.data-table thead > tr > th, .data-table tfoot > tr > th {
    border: 1px solid #324462;
}

.data-table tbody > tr{
	background-color: transparent;
}

.data-table tbody > tr > td{
	max-width: 200px;
	border-right: 1px solid #324462;
}

.data-table tbody > tr > td:first-child{
	border-left: 1px solid #324462;
}

.data-table__header {
	
}

.data-table__label {
	background-color: rgba(43, 56, 84, 0.5);
	border-radius: 4px;
	padding-left: 10px;
	color: rgba(225, 235, 245, .9);
	font-size: 16px;
	border: 1px solid rgba(43, 56, 84, 0.5);
	margin-bottom: 0;
}

.data-table__label--primary{
	background-color: rgba(136, 105, 194, 0.5);
	border-color: rgba(136, 105, 194, 0.5);
}

.data-table__label--success{
	background-color: rgba(41, 179, 192, 0.5);
	border-color: rgba(41, 179, 192, 0.5);
}

.data-table__label--info{
	background-color: rgba(77, 128, 194, 0.5);
	border-color: rgba(77, 128, 194, 0.5);
}

.data-table__label--warning{
	background-color: rgba(215, 173, 3, 0.5);
	border-color: rgba(215, 173, 3, 0.5);
}

.data-table__label--danger{
	background-color: rgba(207, 82, 92, 0.5);
	border-color: rgba(207, 82, 92, 0.5);
}

